<a href="https://colab.research.google.com/github/kalumsneha/hdsc2021-quiz-files/blob/main/HDSC2021StageAQuiz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
data_set = pd.read_csv('http://bit.ly/HDSC-Dataset')
data_set

                     record_id  ...  fuel_cost_per_mmbtu
0        f1_fuel_1994_12_1_0_7  ...                1.121
1       f1_fuel_1994_12_1_0_10  ...                1.120
2        f1_fuel_1994_12_2_0_1  ...                1.650
3        f1_fuel_1994_12_2_0_7  ...                1.970
4       f1_fuel_1994_12_2_0_10  ...                2.570
...                        ...  ...                  ...
29518  f1_fuel_2018_12_12_0_13  ...                9.030
29519   f1_fuel_2018_12_12_1_1  ...                6.950
29520  f1_fuel_2018_12_12_1_10  ...                8.990
29521  f1_fuel_2018_12_12_1_13  ...                1.110
29522  f1_fuel_2018_12_12_1_14  ...               11.680

[29523 rows x 11 columns]

In [ ]:
type(data_set)

pandas.core.frame.DataFrame

In [ ]:
data_set.shape

(29523, 11)

In [ ]:
ds_desc = data_set.describe()
ds_desc

       utility_id_ferc1  ...  fuel_cost_per_mmbtu
count      29523.000000  ...         29523.000000
mean         118.601836  ...            19.304354
std           74.178353  ...          2091.540939
min            1.000000  ...           -41.501000
25%           55.000000  ...             1.940000
50%          122.000000  ...             4.127000
75%          176.000000  ...             7.745000
max          514.000000  ...        359278.000000

[8 rows x 7 columns]

In [ ]:
std_val = data_set['fuel_mmbtu_per_unit'].std()
print('%.2f'%std_val)

10.60

In [ ]:
seventyfifth_val = ds_desc.at['75%', 'fuel_mmbtu_per_unit']
print('%.2f'%seventyfifth_val)

17.01

In [ ]:
data_set['fuel_qty_burned'].kurt(axis=0)

651.3694501337732

In [ ]:
data_set['fuel_qty_burned'].skew(axis=0)

15.851495469109503

In [ ]:
avg_fcpud = data_set.groupby('report_year')['report_year', 'fuel_cost_per_unit_delivered'].mean()
avg_fcpud

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

             report_year  fuel_cost_per_unit_delivered
report_year
1994                1994                     63.636060
1995                1995                     32.735269
1996                1996                   9196.705948
1997                1997                  11140.197239
1998                1998                    287.154420
1999                1999                     25.551627
2000                2000                    985.362877
2001                2001                     60.050396
2002                2002                     47.594361
2003                2003                     55.663493
2004                2004                    139.524275
2005                2005                     41.438184
2006                2006                     38.657484
2007                2007                     43.325023
2008                2008                     58.588197
2009                2009                    652.694163
2010                2010                     91.862105
2011                2011                     59.774667
2012                2012                     60.994502
2013                2013                    172.307591
2014                2014                    192.737183
2015                2015                    326.535511
2016                2016                    103.901761
2017                2017                     46.196861
2018                2018                    499.269966

In [ ]:
avg_fcpud[avg_fcpud['fuel_cost_per_unit_delivered'] == avg_fcpud['fuel_cost_per_unit_delivered'].max()]

             report_year  fuel_cost_per_unit_delivered
report_year
1997                1997                  11140.197239

In [ ]:
data_set.isnull().any()

record_id                       False
utility_id_ferc1                False
report_year                     False
plant_name_ferc1                False
fuel_type_code_pudl             False
fuel_unit                        True
fuel_qty_burned                 False
fuel_mmbtu_per_unit             False
fuel_cost_per_unit_burned       False
fuel_cost_per_unit_delivered    False
fuel_cost_per_mmbtu             False
dtype: bool